h1{
    color: rgb(113, 228, 190);
}
h3{
    color: rgb(101, 101, 215);
}
h5{
    color: rgb(154, 80, 80);
}
p{
    color: rgb(169, 114, 220);
}
h2{
    color: rgb(173, 233, 93);
}
h4{
    color: rgb(177, 119, 48);
}